/* * {
   margin: 0;
   padding: 0;  
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.FormWrapper {
  position: relative;
  width: 320px;
  height: 568px;
  z-index: 5;
  background: #fff;
}
.wrap {
  z-index: 4;
}
.EmailForm {
  position: absolute;
  width: 220px;
  height: 33px;
  left: 20px;
  top: 100px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  padding: 0px 0px 0px 60px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  outline: none;
}

.EmailIcon {
  position: absolute;
  left: 32.5px;
  top: 104px;
  z-index: 2;
  color: #e0e0e0;
}
.PassForm {
  position: absolute;
  width: 220px;
  height: 33px;
  left: 20px;
  top: 180px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 0px 0px 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  outline: none;
}

.PassIcon {
  position: absolute;
  left: 32.5px;
  top: 185px;
  z-index: 2;
  color: #e0e0e0;
}
.rePass {
  position: absolute;
  width: 220px;
  height: 33px;
  left: 20px;
  top: 260px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 0px 0px 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  outline: none;
}

.LockIcon {
  position: absolute;
  left: 32.5px;
  top: 265px;
  z-index: 2;
  color: #e0e0e0;
}

.labelName {
  position: absolute;
  width: 220px;
  height: 33px;
  left: 20px;
  top: 340px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 0px 0px 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  outline: none;
}
.AccountBoxIcon {
  position: absolute;
  left: 32.5px;
  top: 345px;
  z-index: 2;
  color: #e0e0e0;
}

.textWallet {
  margin-left: 80px;
  margin-top: 40px;
  padding-left: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  background-image: url(../Login/icons/wallet.svg);
  background-repeat: no-repeat;
}

.textApp {
  visibility: hidden;
  z-index: 3;
}
.BtnEnter {
  position: absolute;
  width: 280px;
  height: 50px;
  left: 20px;
  top: 540px;

  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a56e2;
  outline: none;
}
.BtnReg {
  position: absolute;
  width: 280px;
  height: 50px;
  left: 20px;
  top: 460px;

  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4a56e2;
  outline: none;
}
.BtnEnter:hover,
.BtnEnter:focus,
.BtnReg:hover,
.BtnReg:focus {
  background: #24cca7;
  border-radius: 20px;
  color: #ffffff;
}

.Weak {
  position: absolute;
  width: 120px;
  height: 3px;
  left: 22px;
  top: 300px;
  background-color: rgb(36, 204, 167);
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(36, 204, 167, 0.75);
}
.Medium {
  position: absolute;
  width: 200px;
  height: 3px;
  left: 22px;
  top: 300px;
  background-color: rgb(36, 204, 167);
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(36, 204, 167, 0.75);
}
.Strong {
  position: absolute;
  width: 280px;
  height: 3px;
  left: 22px;
  top: 300px;
  background-color: rgb(36, 204, 167);
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px rgba(36, 204, 167, 0.75);
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .leftWrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .FormWrapper {
    width: 540px;
    height: 616px;
    border-radius: 20px;
  }
  .wrap {
    width: 260.26px;
    height: 250px;
    background-image: url(../../styles/css/icon/TabletRegIcon.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 16%;
    top: 5%;
  }
  .rightWrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Weak {
    position: absolute;
    width: 180px;
    height: 3px;
    left: 66px;
    top: 340px;
    background-color: rgb(36, 204, 167);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(36, 204, 167, 0.75);
  }
  .Medium {
    position: absolute;
    width: 280px;
    height: 3px;
    left: 66px;
    top: 340px;
    background-color: rgb(36, 204, 167);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(36, 204, 167, 0.75);
  }
  .Strong {
    position: absolute;
    width: 410px;
    height: 3px;
    left: 66px;
    top: 340px;
    background-color: rgb(36, 204, 167);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(36, 204, 167, 0.75);
  }

  .leftWrapper {
    width: 100%;
    /* position: relative;
      display: flex;
      justify-content: center;
      align-items: center; */
    background: #e7eaf2;
  }

  .textWallet {
    margin-left: 179px;
    margin-top: 40px;
    padding-left: 60px;
  }
  .textApp {
    visibility: visible;
    position: absolute;
    right: 20%;
    top: 19%;
    width: 187px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
  }

  .violetCircle {
    background-image: url(../Login/icons/violetCircle.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 495px;
    height: 440px;
    left: 0px;
    top: 585px;
    z-index: 2;
  }

  .pinkCircle {
    position: absolute;
    right: 0px;
    top: -418px;
    width: 457px;
    height: 383px;
    background-image: url(../Login/icons/pinkCircle.svg);
    background-repeat: no-repeat;
    z-index: 2;
  }
  .PassForm {
    position: absolute;
    width: 349.5px;
    height: 34px;
    left: 65.5px;
    top: 204px;
    padding: 12px 0px 0px 60px;
  }

  .PassIcon {
    position: absolute;
    left: 71px;
    top: 220px;
    z-index: 2;
    color: #e0e0e0;
  }
  .EmailForm {
    width: 349.5px;
    height: 34px;
    left: 65.5px;
    top: 130px;
    padding: 8px 0px 4px 60px;
  }

  .EmailIcon {
    left: 71px;
    top: 144px;
    z-index: 2;
    color: #e0e0e0;
  }
  .rePass {
    position: absolute;
    width: 349.5px;
    height: 34px;
    left: 65.5px;
    top: 280px;
    padding: 12px 0px 0px 60px;
  }
  .LockIcon {
    position: absolute;
    left: 71px;
    top: 296px;
    z-index: 2;
    color: #e0e0e0;
  }
  .labelName {
    position: absolute;
    width: 349.5px;
    height: 34px;
    left: 65.5px;
    top: 355px;
    padding: 12px 0px 0px 60px;
  }
  .AccountBoxIcon {
    position: absolute;
    left: 71px;
    top: 371px;
    z-index: 2;
    color: #e0e0e0;
  }
  .BtnEnter {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 120px;
    top: 520px;
  }
  .BtnReg {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 120px;
    top: 440px;
  }
}

@media (min-width: 1280px) {
  .FormWrapper {
    width: 540px;
    height: 616px;
    border-radius: 20px;
  }
  .wrap {
    width: 435.2px;
    height: 419.5px;
    background-image: url(../../styles/css/icon/PCRegIcon.svg);
    background-repeat: no-repeat;
  }
  /* .rePass {
    position: absolute;
    width: 349.5px;
    height: 34px;
    left: 65.5px;
    top: 334px;
    padding: 12px 0px 0px 60px;
  } */
  .textWallet {
    position: relative;
    margin-left: 179px;
    margin-top: 40px;
    padding-left: 60px;
  }
  .rightWrapper {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
  }

  .leftWrapper {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7eaf2;
  }

  .textApp {
    position: absolute;
    top: 83%;
    right: auto;
    width: 187px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
  }

  .violetCircle {
    left: 0;
    bottom: 0px;
    top: auto;
    z-index: 1;
  }

  .pinkCircle {
    background-image: url(../Login/icons/pinkCircleScreen.svg);
    width: 618px;
    height: 547px;
    right: 0;
    top: 0;
  }
}
