@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.EmailForm {
  position: absolute;
  width: 220px;
  height: 33px;
  left: 20px;
  top: 190px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  padding: 0px 0px 0px 60px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  outline: none;
}

.EmailIcon {
  position: absolute;
  left: 32.5px;
  top: 194px;
  z-index: 2;
  color: #e0e0e0;
}

@media (min-width: 768px) {
  .EmailForm {
    width: 349.5px;
    height: 34px;
    left: 65.5px;
    top: 130px;
    padding: 8px 0px 4px 60px;
  }

  .EmailIcon {
    left: 71px;
    top: 144px;
    z-index: 2;
    color: #e0e0e0;
  }
}
