.modalWindow {
  display: flex;
  /* width: 200px;
    height: 50px; */
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  /* visibility: visible; */
  z-index: 1100;
}

.editSvg {
  background-image: url('../../icons/edit.svg');
  width: 20px;
  height: 20px;
}

.deleteSvg {
  background-image: url('../../icons/delete.svg');
  width: 20px;
  height: 20px;
}
