.modalWindow {
  display: flex;

  height: 196px;
  /* background-color: grey; */

  flex-wrap: wrap;
  position: absolute;
  top: -66px;

  left: 85%;
  transform: translate(0, -50%);

  z-index: 1100;
}

.editSvg {
  background-image: url('../../icons/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 98px;
  cursor: pointer;
}
.editSvg:hover {
  background-color: #ebebeb;
}

.deleteSvg {
  background-image: url('../../icons/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 98px;
  cursor: pointer;
}
.deleteSvg:hover {
  background-color: #ebebeb;
}
@media screen and (min-width: 768px) {
  .modalWindow {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: space-between;
    background-color: white;

    position: absolute;
    top: 25px;

    left: 29%;

    z-index: 1100;
  }

  .editSvg {
    background-image: url('../../icons/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .editSvg:hover {
    background-color: #ebebeb;
  }

  .deleteSvg {
    background-image: url('../../icons/delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .deleteSvg:hover {
    background-color: #ebebeb;
  }
}
