.title {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
  padding: 40px 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.15s linear;
  z-index: 4324;
}

.button_close {
  padding: 0;
  margin: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  right: 16px;
  top: 16px;
  border: none;
  width: 25px;
  height: 25px;
  background-color: white;
}

.modal {
  background-color: white;
  position: relative;
  width: 540px;
  height: 540px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

/* form */

.contactForm {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  text-align: center;
}

.contactSelect {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding-left: 14px;
  height: 50px;
  margin-top: 5px;
}

select {
  color: grey;
}

option {
  color: black;
  background: rgba(255, 255, 255, 0.7);
}

.contactFormItem {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
}

.calendar_svg {
  position: absolute;
  top: 180px;
  right: 70px;
  display: block;
  height: 30px;
  width: 30px;
}

/* Vector */

/* position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;
background: #4A56E2; */

.contactFormItemPrice {
  text-align: center;
  width: 190px;
  color: #000000;
}
.contactFormItemPrice::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contactFormItem–°alendar {
  text-align: center;
  width: 190px;
  margin-left: 30px;
}

.contactFormItemComent {
  padding-left: 15px;
  margin-bottom: 50px;
  color: #000000;
}

input {
  font-size: 20px;
  height: 40px;
}

.btn {
  cursor: pointer;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contactBtnAdd {
  background: #24cca7;
  border-radius: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contactBtnDel {
  left: 490px;
  top: 520px;
  line-height: 2.6;
  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;
  color: #4a56e2;
}

/* checkbox */

.checkboxSelector {
  cursor: pointer;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #e0e0e0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  content: '+';
  font-size: 28px;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-weight: 600;
  height: 44px;
  width: 44px;
  left: -1px;
  bottom: -0.5px;
  transition: 0.4s;
  border-radius: 50%;
  background: #24cca7;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  content: '-';
  font-weight: 700;
  background: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  transform: translateX(40px);
}

.text_checkbox {
  position: relative;
  bottom: 17px;
  font-family: Circe;
  font-style: normal;

  font-size: 16px;
  line-height: 24px;
}

.text_checkbox_light {
  right: 20px;
  color: #24cca7;
}

.text_checkbox_darck {
  right: 20px;
  color: #e0e0e0;
}

.text_checkbox_red {
  left: 20px;
  color: #ff6596;
}
.text_checkbox_darcks {
  left: 20px;
  color: #e0e0e0;
}

@media (max-width: 480px) {
  .modal {
    top: 53%;
    width: 360px;
    height: auto;
  }

  .contactForm {
    padding: 0;
  }

  .contactBtnDel {
    margin-bottom: 45px;
  }

  .button_close {
    display: none;
  }

  .calendar_svg {
    top: 260px;
    right: 50px;
  }
  .btn {
    width: 260px;
  }
  .contactFormItemPrice {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    width: 280px;
    margin-bottom: 10px;
    margin-top: 30px;
    /* appearance: none; */
  }
  .contactFormItemComent {
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 50px;
    width: 280px;
  }

  .contactSelect {
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;

    width: 290px;
  }
  .overlay {
    background-color: inherit;
  }
}
